TOPページ

.mt-4
  .row
    - @web_books.each do |web_book|
      .col-md-4
        .mb-4
          .row
            .col-sm-4
              = link_to image_tag(web_book.cover_image.variant(resize_and_pad: [120, 160, { background: [240, 240, 240] }])), web_book_path(web_book)
            .col-sm-8
              .text-start
                %big
                  = link_to web_book.title, web_book_path(web_book), class: 'text_link'
                %br
                  = web_book.principal_author_names
                #{l web_book.release_date}発売
                %br
                %br
                %big
                  = number_to_currency web_book.price_including_tax

    = paginate @web_books
