#{@name} 様
下記の内容でご注文を受付いたしましたので、ご確認ください。
~ "\n"
＜ご注文内容＞
======================================================================
ご注文日: #{l @order_date_and_time}
お支払合計: #{number_to_currency @total_amount}
ご注文商品:
- @web_books.each_with_index do |web_book, i|
  ~ "  #{i + 1}.#{web_book.title}  #{number_to_currency web_book.price_including_tax}"
======================================================================
~ "\n"
お支払いは下記口座へお願いします。
【銀行】〇〇銀行
【店名】〇〇
【店番】〇〇
【預金種目】〇〇
【口座番号】〇〇
【名義】〇〇
※お振込に伴う手数料等はご負担いただきますので、あらかじめご了承下さい。
